In [26]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, fpmax, fpgrowth
from mlxtend.frequent_patterns import association_rules

In [27]:
data = pd.read_csv('../data/data_msg_only(new tags).csv')
data = data.drop(columns=['and_or_count', 'blank_line', 'capital_start', 'end_dot', 'imperative_start', 'wrap_to_72'])

In [28]:
def custom_round(x, base=10):
    return '_' + str(int(base * round(float(x)/base)))

In [29]:
def map_verb_direct_obj(x):
    if x == 0:
        return 'Doesn\'t meet the pattern'
    if x == 1:
        return 'Meet the pattern'

In [30]:
data['characters_count'] = pd.Series(data['characters_count']).apply(lambda x: custom_round(x))
data['verb_direct_obj'] = pd.Series(data['verb_direct_obj']).apply(lambda x: map_verb_direct_obj(x))

In [31]:
data.head()

  characters_count   verb_direct_obj label
0              _30  Meet the pattern  good
1              _40  Meet the pattern  good
2              _40  Meet the pattern  good
3              _40  Meet the pattern  good
4              _30  Meet the pattern  good

In [32]:
dataset  = data.values.tolist()

In [33]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [22]:
frequent_itemsets = fpgrowth(df, min_support=0.2, use_colnames=True)
frequent_itemsets

   support                     itemsets
0    0.793           (Meet the pattern)
1    0.413                       (good)
2    0.207                        (_40)
3    0.291                        (bad)
4    0.296                    (neutral)
5    0.207   (Doesn't meet the pattern)
6    0.409     (Meet the pattern, good)
7    0.248  (neutral, Meet the pattern)

In [36]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

   support                     itemsets
0    0.207   (Doesn't meet the pattern)
1    0.793           (Meet the pattern)
2    0.207                        (_40)
3    0.291                        (bad)
4    0.413                       (good)
5    0.296                    (neutral)
6    0.409     (Meet the pattern, good)
7    0.248  (neutral, Meet the pattern)

In [37]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(good),(Meet the pattern),0.413,0.793,0.409,0.990315,1.248821,0.081491,21.37275
1,(neutral),(Meet the pattern),0.296,0.793,0.248,0.837838,1.056542,0.013272,1.27650

In [11]:
association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(good),(Meet the pattern),0.413,0.793,0.409,0.990315,1.248821,0.081491,21.372750
1,(Meet the pattern),(good),0.793,0.413,0.409,0.515763,1.248821,0.081491,1.212216

In [10]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(good),(Meet the pattern),0.413,0.793,0.409,0.990315,1.248821,0.081491,21.37275
1,(neutral),(Meet the pattern),0.296,0.793,0.248,0.837838,1.056542,0.013272,1.27650